.matriz{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	color: #3691A6;
	border: 1px solid #3691A6;
}
.matriz a{
	color: #3691A6;
}
.cal_dia{
	width: 25px;
	height: 20px;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 1px solid #F4F4F4;
        cursor: pointer;
}
.cal_dia_now{
       width: 25px;
       height: 20px;
       background-color: #E8E8E8;
       padding-top: 2px;
       padding-right: 2px;
       padding-bottom: 2px;
       padding-left: 5px;
       border: 1px solid #F4F4F4;
       cursor: pointer;
}

.cal_dia_select{
       width: 25px;
       height: 20px;
       background-color: #CCFFCC;
       padding-top: 2px;
       padding-right: 2px;
       padding-bottom: 2px;
       padding-left: 5px;
       border: 1px solid #000000;
       cursor: pointer;
}

.cal_ocupada{
       width: 25px;
       height: 20px;
       background-color: #D0E9F0;
       padding-top: 2px;
       padding-right: 2px;
       padding-bottom: 2px;
       padding-left: 5px;
       border: 1px solid #F4F4F4;
       cursor: pointer;
}
.cal_ocupada a {
	/*color: #FFFFFF;*/
	color: #333;
}
.cal_fix{
	width: 25px;
	height: 20px;
	background-color: #FFFFFF;
}
.cal_nombre_dia{
	background-color: #DFDFDF;
	text-align: left;
	font-size: 12px;
	color: #666;
}
.cal_nombre_dia td {
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

a.info{ position:relative; z-index:24; }
a.info:hover{ z-index:25; }
a.info span{display: none}
a.info:hover span{ display:block; position:absolute; top:2em; left:-10em; width:15em; border:1px solid #3691A6; background-color:#50AEC8; color:#fff; text-align: center; padding:5px 0; }